/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100vw;
  background: #F2E9D8;
  z-index: 20;
}

.header nav {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 102px;
}

.header nav .logo-main {
  position: absolute;
  left: 10%;
  width: 120px;
}

.header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.header nav .navigation li {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}

.header nav .navigation a {
  color: inherit;
}

.header nav .button-download {
  width: 140px;
  height: 50px;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
  background-color: #D97652;
  border: none;
  cursor: pointer;
}

.header .nav-menu {
  display: none;
  position: absolute;
  top: 34px;
  left: 80%;
  width: 32px;
}

.main {
  background: #F2E9D8;
  height: 100vh;
  padding: 0 10%;
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.section-main .contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section-main .contents-wrapper .main-text {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 60px;
}

.section-main .contents-wrapper .desc-text {
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 20px;
}

.section-main .contents-wrapper .button-download {
  width: 140px;
  height: 50px;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
  background-color: #D97652;
  border: none;
  cursor: pointer;
}

.section-main .image-main {
  position: absolute;
  right: 0;
  top: 20%;
  width: 320px;
}

.section-sub {
  background: #FFF;
  padding: 0 10%;
  border: 1px;
}

.section-sub .sub-contents.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10% 0;
}

.section-sub .sub-contents.one .image-wrapper {
  border: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 350px;
  overflow: hidden;
  -webkit-filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}

.section-sub .sub-contents.one .image-wrapper .image-sub {
  width: 100%;
}

.section-sub .sub-contents.one .contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
  height: 200px;
  margin-left: 10%;
  border: 1px;
}

.section-sub .sub-contents.one .contents-wrapper .sub-text {
  font-size: 2rem;
  font-weight: bold;
  border: 1px;
}

.section-sub .sub-contents.one .contents-wrapper .desc-text {
  font-size: 1rem;
  line-height: 20px;
  border: 1px;
}

.section-sub .sub-contents.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 100%;
  height: 600px;
  margin-bottom: 80px;
}

.section-sub .sub-contents.two .main-text {
  width: 100%;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  color: #D97652;
  margin-bottom: 40px;
}

.section-sub .sub-contents.two .desc-text {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 60px;
}

.section-sub .sub-contents.two .wrapper-window .wrapper-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.section-sub .sub-contents.two .wrapper-window .wrapper-image div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  width: 30%;
  height: 90%;
  border-radius: 30px;
  overflow: hidden;
}

.section-sub .sub-contents.two .wrapper-window .wrapper-image div .image-sub {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.section-sub .sub-contents.two .contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-top: 90px;
}

.section-sub .sub-contents.two .contents-wrapper .desc-text {
  width: 70%;
  text-align: left;
  margin: 0;
}

.section-sub .sub-contents.two .contents-wrapper .button-learn {
  width: 147px;
  height: 50px;
  background: #D97652;
  border-style: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
}

.subscribe-container {
  margin: 10% 0;
  border: 1px;
}

.subscribe-container .content-wrapper {
  padding: 0 10%;
}

.subscribe-container .content-wrapper .sub-contents.three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #263140;
  width: 100%;
  border-radius: 30px;
  padding: 50px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-container .content-wrapper .sub-contents.three .text-wrapper {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-container .content-wrapper .sub-contents.three .text-wrapper .main-text {
  width: 100%;
  text-align: left;
  font-size: 2.3rem;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 15px;
}

.subscribe-container .content-wrapper .sub-contents.three .text-wrapper .desc-text {
  text-align: left;
  margin: 0;
  color: #F2E9D8;
}

.subscribe-container .content-wrapper .sub-contents.three .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #FFF;
  border-radius: 60px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-container .content-wrapper .sub-contents.three .contact-wrapper input {
  width: 90%;
  height: 40px;
  border-style: none;
  border-radius: 60px;
  padding: 0 5px;
}

.subscribe-container .content-wrapper .sub-contents.three .contact-wrapper .button-subscribe {
  width: 136px;
  height: 45px;
  background: #D97652;
  border-style: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
}

.subscribe-container .wrapper {
  position: relative;
}

.subscribe-container .wrapper .contact-back-image {
  position: absolute;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: -10;
}

.subscribe-container .wrapper .contact-back-image img {
  width: 100%;
  margin-top: 200px;
}

footer {
  margin-top: 200px;
  padding: 0 10%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 120px;
}

footer ul li {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: #F29D52;
  border-radius: 50px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer ul li a img {
  width: 30px;
}

.button-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  border: 1px solid #C4C4C4;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.modal .modal-content {
  background: url("../images/modal-bg-img.png") no-repeat;
  background-size: 600px 400px;
  border-radius: 30px;
  width: 600px;
  height: 400px;
  margin: 10% auto;
  text-align: center;
  padding: 60px 50px 40px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.modal .modal-content img {
  width: 110px;
  height: 112px;
}

.modal .modal-content .sub-text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 50px;
  color: #D97652;
}

.modal .modal-content .desc-text {
  font-size: 1rem;
  line-height: 30px;
}

.modal .modal-content .modal-button {
  display: block;
  margin: 40px auto;
  width: 189px;
  height: 50px;
  background: #D97652;
  border-style: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
}

.modal.on {
  display: block;
}
/*# sourceMappingURL=style.css.map */