// colors 
$black: #000;
$white: #FFF; 
$pink: #FFEEEC; 
$orange: #D97652; 
$light-orange: #F29D52; 
$dark-gray: #496080;
$blue: #4BB9FF; 

// fonts 
$font-large: 2.6rem; 
$font-medium-large: 2.3rem; 
$font-medium-small: 2rem; 
$font-medium: 1.5rem; 
$font-small: 1rem; 
$font-smaller: 0.9rem; 





